# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cls
*.aux
*.bbl
*.blg
*.log
*.gz
*.png
*.txt
TemporalGraphCube/TemporalGraphCube.pdf
TemporalGraphCube/fig/example/example_tables/test.pdf
TemporalGraphCube/fig/example/example_tables/test.tex
TemporalGraphCube/fig/example/example_tables/test1.pdf
TemporalGraphCube/fig/example/example_tables/test1.tex
